// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media-object {
  width: 250px;
}

.top-margin {
  margin-top: 25px;
}

.loading-screen {
  display: none;
}

.image-area {
  width: 350px;
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
}
